body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    font-size: 24px;
}

main {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.div-table {
    display: table;         
    width: auto;         
    background-color: #f4f4f4;         
    border: 1px solid #333;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }
  .div-table-row {
    display: table-row;
    width: auto;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: 200px;         
    background-color: #f4f4f4;
  }